*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: "Jost";
}

a{
	text-decoration: none !important;
}
.logo{
	padding: 30px 0 42px 0;
}

p{
	font-size: 13px;
	color: #858585;
	font-weight: 500;
	margin: 0;
}

.phone{
	font-size: 15px;
	color: #151515;
	font-weight: bold;
}

.col-2{
	padding: 0;
}

.effect{
	font-size: 15px;
	color: #151515;
	font-weight: bold;
	padding-left: 20px;
}

.effect::after{
	content: '';
	display: block;
	width: 0;
	height: 3px;
	background: #000000;
	transition: width .5s;
}

.effect:hover::after{
	width: 100%;
	transition: width .3s;
}

.tool{
	padding-left: 20px;
}

.col-4 a{
	color: #151515;
	text-decoration: none;
}

main{
	margin-top: 30px;
}

/* main .row{
	margin-bottom: 31px;
} */

.product{
	display: grid;
	flex-wrap: wrap;
	grid-auto-flow: column;
	grid-template-areas: 
	"A B"
	"A C";
	padding-bottom: 100px;
}

.product1{
	grid-area: A;
	background-color: #a9a9a9;
	padding: 200px 0 200px 0;
	text-align: center;
	margin-right: 20px;
}

.SS19{
	font-size: 48px;
	color: #ffffff;
	font-weight: bold;
}

.shop{
	display: inline-block;
	color: #ffffff;
	font-size: 15px;
	border: 3px solid #ffffff;
	padding: 18px 38px;
	margin-top: 20px;
}

.product2{
	grid-area: B;
	background-color: #a9a9a9;
	margin-bottom: 20px;	
	position: relative;
}

.text{
	position: absolute;
	left: 50%;
 	top: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.basic{
	display: inline-block;
	padding: 5px;
	font-size: 15px;
	color: #151515;
	font-weight: bold;
	background-color: #ffffff;
}

.arrival{
	font-size: 35px;
	font-weight: bold;
	color: #ffffff;
}

.more{
	font-size: 15px;
	color: #ffffff;
	padding-top: 10px;
}

.product3{
	grid-area: C;
	background-color: #a9a9a9;
	position: relative;
}

.text1{
	position: absolute;
	left: 50%;
 	top: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;  	
}

.want{
	display: inline-block;
	padding: 5px;
	background-color: #000000;
	font-size: 15px;
	color: #ffffff;
	font-weight: bold;
}

.girl{
	font-size: 22px;
	font-weight: bold;
	color: #000000;
}

.more1{
	font-size: 15px;
	color: #000000;
	padding-top: 10px;
}

.product4{
	padding: 100px 0 100px 0;
	background-color: #a9a9a9;
}

.product5{
	padding: 128.5px 0 128.5px 0;
	background-color: #a9a9a9;
}

.design{
	display: inline-block;
	font-size: 15px;
	color: #151515;
	font-weight: bold;
	background-color: #ffffff;
	padding: 5px;
}

.floral{
	font-size: 30px;
	color: #ffffff;
}

.sale{
	display: inline-block;
	padding: 5px;
	background-color: #000000;
	font-size: 15px;
	color: #ffffff;
	font-weight: bold;	
}

.shoe{
	font-size: 22px;
	font-weight: bold;
	color: #000000;	
}

main .row{
	padding-bottom: 100px;
}

.discover{
	font-size: 40px;
	color: #151515;
	font-weight: bold;
}

.filter{
	color: #151515;
	font-weight: bold;
	padding-bottom: 100px;
}

.btn{
	padding: 0 0 7px 0;
	border: none;
}

.page{
	display: inline-block;
	color: #858585;
	padding: 0 5px 0 5px;
}

.page:hover{
	font-weight: bold;
	color: black;
	border-bottom: 3px solid #000;
}

.item{
	padding: 200px 0 200px 0;
	background-color: #d7d7d7;
}

.item1{
	background-image: url('../Images/shoes.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.item2{
	background-image: url('../Images/shirt.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.item3{
	background-image: url('../Images/backpack.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.item4{
	background-image: url('../Images/raincoat.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.items p, span{
	font-size: 13px; 
	color: #000000; 
	font-weight: 500;
}

@media (max-width: 375px) {
	.item1{
		display: none;
	}
}
